altgraph==0.17.2
autopep8==1.6.0
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
Eel==0.12.4
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
idna==3.3
pefile==2021.9.3
pick==1.2.0
pycodestyle==2.8.0
pycparser==2.21
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.2
pypiwin32==223
pytz==2021.3
pywin32==303
pywin32-ctypes==0.2.0
requests==2.27.1
toml==0.10.2
urllib3==1.26.8
whichcraft==0.6.1
win10toast==0.9
windows-curses==2.3.0
zope.event==4.5.0
zope.interface==5.4.0
